<!-- The cardview is displaying the weather API request and the wather icon -->
<div class="w-200"
  <div class="card">
    <p> Latest COVID 19 statistics</p>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option>Select a country</option>
        <% @countryStat.each do | country | %>
        <% unless country["country"] == "All" ||
		    	country["country"] == "Europe" ||
		    	country["country"] == "North-America" ||
		    	country["country"] == "South-America" ||
		    	country["country"] == "Asia" ||
		    	country["country"] == "Africa" %>
      <option><%= country["country"] %></option>
        <% end %>
        <% end %>
    </select>
  </div>
</div>
