<!-- Footer with links to API sources -->
<br>
<br>
<footer class="page-footer">
  <div class="footer-copyright text-center py-3">Copyright © <%= Date.today.year %> Grigor Danut, All rights reserved.

    <br/>
    <p>Sources:
      <a href="https://newsapi.org/">News API,</a>
      <a href="https://openweathermap.org/">OpenWeather API,</a>
      <a href="https://www.weatherbit.io/">Weatherbit API</a>
    </p>
  </div>
</footer>
